RewriteEngine On

DirectoryIndex index.html

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteRule ^ukolebavka$ ukolebavka.html [L]
RewriteRule ^joooo$ joooo.html [L]
RewriteRule ^jump$ jump.html [L]
